<!DOCTYPE html>
<html lang="en">
<head>
	<% include head %>
</head>


<body>
	<header>
        <% include header %>	
	</header>

	<main>
	<div class="col-sm-4 col-sm-offset-4">

	<!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>
	<% if (success_message.length > 0) { %>
		<div class="alert alert-success"><%= success_message %></div>
	<% } %>


	</div>
	</main>
</body>
</html>




