<!DOCTYPE html>
<html lang="en">
<head>
<script language="JavaScript">
var regHostDic = JSON.parse('<%- JSON.stringify(regHostDic); %>');
for (var site_addr in regHostDic) {
}
</script>

</head>

<body>
</body>

</html>
